<div class="row">
  <div class="col-md-4">
      <div class="mt-2">
          <i class="text-danger">{{eventLog}}</i>
      </div>
      <div class="mt-2">
          Roll No.: <input type="text"
          [(ngModel)]="RollNo" class="form-control" />
      </div>
      <div class="mt-2">
          Name: <input type="text" (keyup)="onkeyup($event)"  class="form-control" />
      </div>

      <div class="mt-2">
          Email: <input type="text" (change)="onevent($event)"  class="form-control" />
      </div>
      <div class="mt-2">
          <Button class="btn btn-sm btn-primary" (click)="validateData()"> validate Data</Button>
      </div>
  </div>
